body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-blend-mode: darken;
    background:rgba(0, 0, 0, 0.5) url(photo-1486915585284-e6cb5cd1ec87.avif) no-repeat center center fixed;
    color: #fff;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 9999;
}

.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #ffcc00;
}

.btn-custom {
    background-color: #ffcc00;
    color: #000;
    border: none;
    transition: all 0.3s;
}

.form-control:focus {
    outline: 2px solid #ffc107;
    box-shadow: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#book-ticket form #suggestions,
#trainSuggestions,
#stationSuggestions {
    display: none;
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: scroll;
    list-style: none;
    background-color: white;
}

#book-ticket form #suggestions li,
#trainSuggestions li,
#stationSuggestions li {
    list-style: none;
    border: 1px solid;
    color: black;
    cursor: pointer;
}

#book-ticket form #suggestions li:hover,
#trainSuggestions li:hover,
#stationSuggestions li:hover {
    background-color: rgba(189, 184, 184, 0.9);
}

.btn-custom:hover {
    background-color: #ffc107;
    color: #000;
}

.form-label {
    color: #ffcc00;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ffcc00 !important;
}

.section {
    display: none; /* Hide all sections by default */
}

.section.active {
    display: block; /* Show only the active section */
}

#pnr-details ul,
#train-details ul,
#station-details ul {
    list-style: none;
}