@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    overflow: hidden;
}

.loading-container {
    width: 25%;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0,0.5);
    backdrop-filter: blur(30px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 15px;
  }

  .spinner {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: 5px solid #ddd;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .message {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .no-ticket-container {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    max-width: 35%;
    height: 35%;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow:  0 0 20px;
    background-color: rgba(255, 255, 255,0.7);
  }

  .no-ticket-container.down {
    animation: down .5s linear 1;
    top: 50%;
  }

  .no-ticket-container.reverse {
    animation: up .3s linear 1 backwards;
  }

  @keyframes down {
    0% {
        top: -50%;
    }
    100% {
        top: 50%;
    }
  }

  @keyframes up {
    0% {
        top: 50%;
    }
    100% {
        top: 0;
    }
  }

  .no-ticket-container i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2.5em;
    cursor: pointer;
  }

  .no-ticket-msg {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
  }

.login-signup-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-container.done {
    display: none;
}

.login-signup-container .signup-page.active{
    width: 48%;
    height: 90%;
    background: white;
    box-shadow: 0 0 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-signup-container .signup-page{
    display: none;
}

.login-signup-container .signup-page .details {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.login-signup-container .signup-page .details .grp1,
.login-signup-container .signup-page .details .grp2,
.login-signup-container .signup-page .details .grp3 {
    display: inline;
    padding: 5px 0;
    border-bottom: 1px solid;
    text-align: center;
}

.login-signup-container .signup-page .details input {
    border: none;
    outline: none;
    text-transform: capitalize;
}

.login-signup-container .signup-pagee .details i {
    margin-right: 10px;
}

.login-signup-container .signup-page .details input::placeholder{
    font-size: 18px;
}

.login-signup-container .signup-page .details button {
    padding: 10px;
    width: 80px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login-signup-container .signup-page .details button:hover {
    color: #358fda;
    background-color: white;
    border: 1px solid #358fda;
    font-weight: 600;
}

.login-signup-container .signup-page figure {
    width: 48%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.login-signup-container .signup-page figure img {
    width: 80%;
    height: 70%;
}


.login-signup-container .login-page{
    width: 48%;
    height: 90%;
    background: white;
    box-shadow: 0 0 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-signup-container .login-page.active {
    display: none;
}

.login-signup-container .login-page figure {
    width: 48%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.login-signup-container .login-page figure img {
    width: 80%;
    height: 70%;
}

.login-signup-container .login-page .details {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.login-signup-container .login-page .details .grp1,
.login-signup-container .login-page .details .grp2 {
    display: inline;
    padding: 5px 0;
    border-bottom: 1px solid;
    text-align: center;
}

.login-signup-container .login-page .details input {
    border: none;
    outline: none;
}

.login-signup-container .login-page .details i {
    margin-right: 10px;
}

.login-signup-container .login-page .details input::placeholder{
    font-size: 18px;
}

.login-signup-container .login-page .details button {
    padding: 10px;
    width: 80px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login-signup-container .login-page .details button:hover {
    color: #358fda;
    background-color: white;
    border: 1px solid #358fda;
    font-weight: 600;
}

.container{
    width: 100%;
    height: 100vh;
    background: url(steam-train-chugs-through-mountain-forest-scene-generative-ai_188544-8072.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: none; */
}
header{
    height: 70px;
}
header ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: last baseline;
}
header ul li{
    cursor: pointer;
    padding: 5px 8px;
    background-color: #358fda;
    color: #f5f1f1;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px #08ffe7;
}
header ul li:hover{
    background-color: #2f4f7f;
}
.container .book-ticket{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: none;
}
.container .book-ticket.active{
    display: flex;
    justify-content: space-around;
    transition: .6s linear 1;
}

.container .book-ticket form{
    border-radius: 20px;
    width: 430px;
    height: 60%;
    padding: 20px;
    box-shadow: 0 0 15px rgb(202, 190, 190);
    backdrop-filter: blur(3px);
    animation: smooth 0.6s 0s 1  ease-in;
}

.container .book-ticket form #suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    display: none;    /* Initially hidden */
    position: absolute;
    width: 90%;
    background-color: white;
    z-index: 1000;
}

#suggestions li {
    padding: 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

.container .book-ticket form .suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    display: none;    /* Initially hidden */
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

.container .book-ticket form label{
    font-size: 2em;
    font-weight: 600;
    color: black;
    text-shadow: 0 0 5px white;
}

.container .book-ticket form input{
    height: 30px;
    padding: 8px;
    outline-width: 1px;
    outline-color: yellow;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 550;
}

.container .book-ticket form input#from, #date, #class{
    margin-left: 20%;
}
.container .book-ticket form input#to{
    margin-left: 31%;
}
.container .book-ticket form input::placeholder{
    text-transform: uppercase;
}
.container .book-ticket form select{
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 40px;
    font-weight: bold;
}

.container .book-ticket form button{
    padding: 10px;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    border: none;
    margin-left: 35%;
    font-size: 1.3em;
    cursor: pointer;
}
.container .book-ticket form button:hover{
    transform: scale(1.1);
}
.container .book-ticket .booking-details{
    width: 500px;
    height: 400px;
    padding: 10px;
    box-shadow: 0 0 15px black;
    backdrop-filter: blur(3px);
    border-radius: 20px;
    text-align: center;
    animation: smooth 0.6s 0s 1  ease-in;
    display: none;
}

.container .book-ticket .booking-details h1{
    color: rgb(255, 111, 111);
    text-decoration: solid underline;
    text-shadow: 0 0 5px;
}
.container .book-ticket .booking-details span{
    text-align: center;
    font-weight: bold;
    background-color: rgba(4, 4, 7,0.7);
    color: rgb(23, 143, 173);
    padding: 7px;
    border-radius: 5px;
}

.container .book-ticket .booking-details .group-1{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 600;
}
.container .book-ticket .booking-details .group-1 p{
    background-color: rgb(85, 176, 228);
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.container .book-ticket .booking-details .group-2{
    display: flex;
    justify-content: space-around;
}
.container .book-ticket .booking-details .group-2 h2{
    color: goldenrod;
}

.container .book-ticket .booking-details h3,.date{
    color: aquamarine;
    background-color: rgba(43, 9, 9, 0.6);
    padding: 5px;
    border-radius: 3px;
}
.container .book-ticket .booking-details .greet{
    background-color: rgb(111, 194, 63);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: blue;
}

.container .pnr-check{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: none;
}
.container .pnr-check.active{
    display: flex;
    justify-content: space-around;
}

.container .pnr-check form{
    border-radius: 20px;
    width: 430px;
    height: 40%;
    padding: 20px;
    box-shadow: 0 0 15px rgb(202, 190, 190);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: smooth 0.6s 0s 1  ease-in;
}
.container .pnr-check form label{
    font-size: 2em;
    font-weight: 600;
    color: black;
    text-shadow: 0 0 5px white;
}
.container .pnr-check form input{
    height: 30px;
    padding: 8px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 550;
}

.container .pnr-check form button{
    padding: 10px;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
}
.container .pnr-check form button:hover{
    transform: scale(1.1);
}

.container .pnr-check .pnr-status{
    width: 400px;
    height: 350px;
    box-shadow: 0 0 15px rgb(202, 190, 190);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    text-align: center;
    animation: smooth 0.6s 0s 1  ease-in;
    display: none;
}
.container .pnr-check .pnr-status h1{
    color: rgb(255, 111, 111);
    text-decoration: solid underline;
    text-shadow: 0 0 5px;
}
.container .pnr-check .pnr-status span{
    text-align: center;
    font-weight: bold;
    background-color: rgba(4, 4, 7,0.7);
    color: rgb(23, 143, 173);
    padding: 7px;
    border-radius: 5px;
}
.container .pnr-check .pnr-status .group-1{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 600;
}
.container .pnr-check .pnr-status .group-1 p{
    background-color: rgb(85, 176, 228);
    border-radius: 10px;
    padding: 5px;
}
.container .pnr-check .pnr-status .group-2{
    display: flex;
    justify-content: space-around;
    color: white;
    text-shadow: 0 0 5px;
}
.container .pnr-check .pnr-status .group-3{
    display: flex;
    justify-content: space-around;
    color: white;
}

.train-container.active {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 50px;
}
.train-container {
    display: none;
}
.container .search-train{
    width: 380px;
    height: 420px;
    padding: 10px;
    box-shadow: 0 0 15px rgb(202, 190, 190);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: smooth 0.5s 0s 1  ease-in;
}
.container .search-train label{
    font-size: 20px;
    font-weight: 700;
    text-decoration: 0 0 10px white;
}

.container .search-train #trainSuggestions {
    list-style: none;
    padding: 0;
    margin-top: -150px;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: none;
    display: none;    /* Initially hidden */
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

#trainSuggestions li {
    padding: 10px;
    cursor: pointer;
}

#trainSuggestions li:hover {
    background-color: #f0f0f0;
}

.container .search-train input{
    padding: 10px 5px;
    outline: none;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
}
.container .search-train button{
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    background-color: darkkhaki;
    cursor: pointer;
}
.container .search-train button:hover{
    transform: scale(1.1);
    border: 1px solid darkkhaki;
    font-weight: bold;
}

.container .search-train #train-search-result{
    text-align: center;
}
.container .search-train #train-search-result p{
    color: cyan;
    font-weight: 700;
}

.train-container .location-container {
    display: none;
    width: 300px;
    height: 370px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    position: relative;
    transition: .5s ease-in;
}

.location-container #into {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
   border-radius: 50%;
}
.location-container #into:hover {
    background-color: rgba(136, 179, 219, 0.329);
   transform: rotate(230deg);
   transition: .3s ease-out;
}

.location-container .box {
    width: 100%;
    height: 90%;
    border-left: 3px solid #358fda;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.location-container .box .grp1, .grp2, .grp3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.location-container .box .round1, .round3 {
    height: 20px;
    width: 20px;
    background: #358fda;
    border-radius: 50%;
    position: absolute;
    left: -11px;
}

.location-container .box i{
    font-size: 30px;
    border-radius: 50%;
    color: white;
}

.location-container .box .round2{
    height: 40px;
    width: 40px;
    background: #358fda;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.station-container.active{
    display: flex;
}

.station-container {
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: none;
}

.container .search-station{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: smooth 0.5s 0s 1  ease-in;
    width: 380px;
    height: 420px;
    padding: 10px;
    box-shadow: 0 0 15px rgb(202, 190, 190);
    backdrop-filter: blur(6px);
    border-radius: 20px;
}

.container .search-station label{
    font-size: 20px;
    font-weight: 700;
    text-decoration: 0 0 10px white;
}

.container .search-station #stationSuggestions {
    list-style: none;
    padding: 0;
    margin-top: -150px;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: none;
    display: none;    /* Initially hidden */
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

#stationSuggestions li {
    padding: 10px;
    cursor: pointer;
}

#stationSuggestions li:hover {
    background-color: #f0f0f0;
}

.container .search-station input{
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}
.container .search-station button{
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    background-color: darkkhaki;
    cursor: pointer;
}
.container .search-station button:hover{
    transform: scale(1.1);
    border: 1px solid darkkhaki;
    font-weight: bold;
}

.container .search-station #station-search-result{
    text-align: center;
}
.container .search-station #station-search-result p{
    color: cyan;
    font-weight: 700;
}

.container .search-station #station-search-result a{
    color: white;
    text-decoration: underline;
}

.container .profile-container.active {
    display: flex;
}

.container .profile-container {
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .profile-container .profile-page {
    width: 300px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 0 15px rgb(202, 190, 190);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .profile-container .profile-page button {
    padding: 10px;
    background-color: #358fda;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.container .profile-container .profile-page button:hover {
    transform: scale(1.1);
    font-weight: 600;
    transition: .1s linear ;
}

@keyframes smooth {
    0% {
        transform: scale(2.5);
    }
    100%{
        transform: scale(1);
    }
}


@media only screen and (max-width: 700px) {
    .body{
        overflow: hidden !important;
    }
    .login-signup-container{
        width: 350px;
        height: 100vh;
    }
    .login-signup-container .login-page {
        width: 100%;
        height: 100vh;
    }
    .login-signup-container .login-page figure{
       width: 40%;
       height: 5%;
       position: absolute;
       bottom: 15px;
    }
    .login-signup-container .login-page figure img{
        display: none;
    }
    .login-signup-container .login-page .details,
    .login-signup-container .signup-page .details {
        width: 100%;
    }
    .login-signup-container .login-page .details label,
    .login-signup-container .signup-page .details label{
        display: block;
        font-size: 15px;
    }
    .login-signup-container .signup-page .details .grp4{
       display: flex;
    }
    .login-signup-container .signup-page{
       width: 100% !important;
       height: 100% !important;
    }
    .login-signup-container .signup-page figure img{
        display: none;
    }
    .login-signup-container .signup-page figure {
        width: 40%;
        height: 5%;
        position: absolute;
        bottom: 10px;
    }
    .loading-container {
        width: 70%;
        height: 35%;
    }
    .no-ticket-container {
        width: 200px !important;
        max-width: 200px;
        height: 25%;
    }
    .no-ticket-msg {
        font-size: .95em;
        font-weight: bold;
        text-align: center;
      }
    .container{
        display: none;
        width: 360px;
        height: 100vh !important;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden !important;
    }
    .container header{
        display: none;
    }
    .container .menu{
        position: relative;
        left: 310px;
        width: 50px;
        height: 50px;
        background-color: #08ffe7;
        display: block !important;
        overflow: hidden !important;
    }
    .container .menu.active{
        width: 200px;
        height: 260px;
        position: absolute;
        left: 160px;
        z-index: 1;
        background-color: #08ffe7;
        display: block !important;
        animation: comes 0.5s ease-in 0s 1;
        border-radius: 5px;
    }
    .container .menu i{
        font-size: 30px;
        position: absolute;
        right: 0;
        padding: 10px;
    }
    .container .menu .menu-container{
        list-style-type: none;
        display: none;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container .menu .menu-container li{
        font-size: 1.2em;
        width: 100%;
        text-align: center;
    }
    .container .menu .menu-container li:hover{
        border-top: 1px solid;
        border-bottom: 1px solid;
        background-color: #6dcfc5;
    }
    .container .book-ticket.active{
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        display: flex;
    }
    .container .book-ticket form br{
        display: none;
    }
    .container .book-ticket form{
        width: 250px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        animation: media_ 1s ease-in-out 0s 1 !important;
    }
    .container .book-ticket form #date::placeholder{
        content: "dd-mm-yyyy";
    }
    .container .book-ticket form.media, label{
        display: none;
    }
    .container .book-ticket form input{
        margin: 0 !important;
    }
    .container .book-ticket form select,button{
        margin: 0 !important;
    }
    .container .book-ticket .booking-details{
        width: 250px;
        height: 380px;
        position: relative;
        animation: media_ 1s ease-in-out 0s 1 !important;
    }
    .container .book-ticket .booking-details h1{
        font-size: 25px;
        margin-top: 0;
        color: black;
        text-shadow: none;
    }
    .container .book-ticket .booking-details span {
        background-color: transparent;
        color: white;
    }
    .container .book-ticket .booking-details .group-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80px;
    }
    .container .book-ticket .booking-details .group-1 p{
        font-size: 12px;
        text-align: center;
        margin: 0;
        padding: 5px;
    }
    .container .book-ticket .booking-details .group-2 h2{
        font-size: 15px;
    }
    .container .book-ticket .booking-details .group-3{
        flex-direction: column;
    }
    .container .book-ticket .booking-details .group-3 h3{
        margin: 0;
        font-size: 15px;
        background-color: transparent;
    }
    .container .pnr-check.active{
       height: 80%;
    }
    .container .pnr-check form{
        width: 70%;
        animation: media_ 1s ease-in-out 0s 1 !important;
    }
    .container .pnr-check form.hide{
        display: none;
    }
    .container .pnr-check form label{
        display: block;
        font-size: 25px;
    }
    .container .pnr-check .pnr-status.active{
        width: 250px;
        height: 350px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        animation: media_ 1s ease-in-out 0s 1 !important;
    }
    .container .pnr-check .pnr-status{
        display: none;
    }
    .container .pnr-check .pnr-status h1{
        font-size: 20px;
        margin-top: 0;
        color: black;
        text-shadow: none;
    }
    .container .pnr-check .pnr-status .group-1{
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
    .container .pnr-check .pnr-status .group-1 p{
        margin: 0;
        font-size: 13px;
    }
    .container .pnr-check .pnr-status .group-2 h2{
        font-size: 20px;
       margin: 0 10px;
       text-shadow: none;
    }
    .container .pnr-check .pnr-status .group-3{
        font-size: 13px;
        column-gap: 5px;
    }

    .container .search-train{
        position: absolute;
        left: 15px;
        /* top: 300px; */
        width: 280px;
        height: 350px;
        row-gap: 5px;
        animation: media_ 1s ease-in-out 0s 1 !important;
    }
    .container .search-train h2{
        margin: 0;
        font-size: 20px;
    }
    .container .search-train #train-search-result p{
        font-size: 14px; 
        color: white;
    }
    .container .train-container .location-container{
        width: 70%;
        height: 50%;
    }
    .container .train-container .location-container h3{
        font-size: 15px;
    }
    .container .station-container .search-station {
        animation: media_ 1s ease-in-out 0s 1 !important;
        width: 80%;
        height: 60%;
    }
    .container .profile-container{
        display: none !important;
    }
    .container .profile-container.active {
        display: flex !important;
        height: 80%;
        animation: media_ 1s ease-in-out 0s 1 !important;
    }
}

@keyframes comes {
    0% {
        position: absolute;
        right: -150px;
    }
    100% {
        position: absolute;
        right: 0;
    }
}

@keyframes media_ {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}
